.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
}

.album {
    display: flex;
    flex-direction: column;
}
.album-items {
    margin: 10px 0 5px 0;
}

.button {
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ffff6e;
}
.button:hover {
    background-color: #dddd61;
    transition: 0.6s;
}